body {background-color: gray;}
.RogérioCeni {text-align: center;color:black;}
p {text-align: justify;color: black;}
.Titulos {text-align: center;color: white;}
ul {list-style-type: circle; color: white;}
.Números {text-align: center;color: red;}
table {text-align: center;color: white;border-color: white;}        

